@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


body {
  font-family: 'Overpass', sans-serif;
}

select option {
  background: rgba(0, 0, 0, 0); /* dark glass */
  color: white;
}

.input {
  @apply w-full bg-black/40 border border-white/20 rounded-lg px-3 py-2 text-white placeholder-gray-400 focus:outline-none focus:border-blue-500;
}